<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>355253746034-oqh0tbut6sc8n8gqkbj3kbbq7j5r9ja1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.355253746034-oqh0tbut6sc8n8gqkbj3kbbq7j5r9ja1</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>355253746034-24bluiauahhqpor1ubfp5rolghm3evnt.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAFOgH1UBfEOpr6FpBTE7TRRUS4OPfD29U</string>
	<key>GCM_SENDER_ID</key>
	<string>355253746034</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.diletta.camera</string>
	<key>PROJECT_ID</key>
	<string>diletta-academy</string>
	<key>STORAGE_BUCKET</key>
	<string>diletta-academy.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:355253746034:ios:48760909c96b0356b605eb</string>
</dict>
</plist>